@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  --color-background: #0e0e0e;
  --color-paper: 40 5 75;
  --color-text-primary: #c667e4;
  --color-text-secondary: 217 217 217;

  --color-primary: 234 0 255;
  --color-secondary: 4 217 255;
}

#app.dark {
  --color-background: #0e0e0e;
  --color-paper: 40 5 75;
  --color-text-primary: #c667e4;
  --color-text-secondary: 217 217 217;

  --color-primary: 234 0 255;
  --color-secondary: 4 217 255;
}


* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}
